.contact-form-container {
    width: 50vw;
    
}

@media(max-width: 768px) {
    .contact-form-container {
        width: 95vw;
    } 
}

button {
    width: 250px;
    height: 50px;
    background-color: rgb(200, 65, 65);
    color:white;
    font-size: 25px;
    border: none;
    padding: 10px 20px;
}

.submit-button {
    border-radius: 10px;
}